body{
    background-image: url("drop.jpg");
    -webkit-text-fill-color: whitesmoke;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
